#main-head{
    height: calc(100vh - 54px);
    background-image: url(https://www.wallpaperup.com/uploads/wallpapers/2014/04/04/322017/05bfa242cfcdcc102f2bbc5b83c684cc-1000.jpg);
    background-size: cover;
}
.page-section{
    padding: 6rem 0;
}
.section-heading{
    font-weight: bold;

    margin-bottom: 1rem;
}
.section-subheading{
    margin-bottom: 4rem;
}